<<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="http://localhost:5000/studentresult" method="POST">

      <p>Name <<input type="text" name="Name" /></p>
      <p>Physics <<input type="text" name="Physics" /></p>
      <p>Chemistry <<input type="text" name="Chemistry" /></p>
      <p>Maths <<input type="text" name="Maths" /></p>
      <p>Hindi <<input type="text" name="Hindi" /></p>
      <p> <<input type="submit" name="Submit" value="submit"/></p>

    </form>

  </body>
</html>
